<% layout('layouts/boilerplate')%>
<p calss="text-center"><h1 class="text-center">Welcome To AuthSite!!</h1>
<br>
<br>
<h3 class="text-center">You can Login & Register to visit this website.</h3></p>
